{% extends 'dashboard_base.html' %}
{% load bootstrap4 %}

{% block content %}
<div style="text-align: center; max-width: 720px; margin: 4rem auto;">
    <!-- 글쓰기 버튼 -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {% if board_type == 'notice' and request.user.is_superuser == 1 %}
            <a class="btn btn-primary me-md-2" href="{% url 'dashboardapp:write' board_type='notice' %}">글쓰기</a>
        {% elif board_type == 'post' and request.user.id != None %}
            <a class="btn btn-primary me-md-2" href="{% url 'dashboardapp:write' board_type='post' %}">글쓰기</a>
        {% endif %}
    </div>
    <!-- 보드 -->
    {% for board in boards %}
    <div class="card w-75" style="margin: 1rem auto;">
        <div class="card-body d-flex w-100 justify-content-between" style=" cursor: pointer;" onclick="redirectToContent('{{ board.board_type }}', '{{ board.board_id }}');">
            <h5 class="card-title" style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis; margin: auto; max-width:50%">{{board.title}}</h5>
            <div>
                <p class="card-text" style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">{{board.writer}}</p>
                <p class="card-text">{{board.write_date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- 페이지 이동 -->
    <ul class="pagination" style="justify-content: center;">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
            {% for page in paginator.page_range %}
                {% if page == boards.number %}
                    <li class="page-item disabled" aria-current="page">
                        <span class="page-link">{{page}}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page= {{page}}">{{page}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

<script>
    function redirectToContent(boardType, boardId) {
        // URL 생성
        var url = '/dashboard/content/' + boardType + '/' + boardId + '/';

        // 페이지 이동
        location.href = url;
    }
</script>

{% endblock %}